body {
    height: fit-content;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

.white-box {
    background-color: white;
    margin: 150px 20px;
    padding: 150px 20px 70px;
    height: fit-content;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.white-box h1 {
    text-align: center;
}