html {
    height: 100%;
    width: 1440px;

}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    color: hsl(238, 29%, 16%);
}

.question-box {
    background-color: white;
    border-radius: 25px;
    margin: 100px 200px;
    padding: 75px 100px 75px 0px;
    display: flex;
    column-gap: 100px;
    justify-content: left;
    
}

.text-content {
    color: hsl(237, 12%, 33%);
}

.main-image {
    align-self: center;
    margin-left: -85px;
    clip-path: inset(0px 0px 0px 85px);
}

.arrow-image {
}